In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./arrests_procesado.csv")

In [3]:
df

,ID,Date,PD_CD,PD_DESC,KY_CD,Description,Law,Category,Borough,Precint,...,Age,Sex,Race,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,Month,Day
0,85594383,2012-07-05,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401000,Misdemeanor,Manhattan,25,...,45-64,M,BLACK,1003300.0,5230799.0,40.766905,-73.913327,POINT (-73.91332699999998 54.37290151600007),July,Thursday
1,84747924,2012-05-15,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401000,Misdemeanor,Bronx,40,...,25-44,M,WHITE HISPANIC,1007098.0,3234465.0,40.838172,-73.905813,POINT (-73.90581255299998 49.009891884000076),May,Tuesday
2,84164045,2012-04-11,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401000,Misdemeanor,Bronx,47,...,25-44,M,BLACK,1027676.0,2261851.0,40.838172,-73.828816,POINT (-73.828816465 46.36334352800003),April,Wednesday
3,82437256,2012-01-02,397.0,"ROBBERY,UNCLASSIFIED,OPEN AREAS",105.0,ROBBERY,PL 1601502,Felony,Bronx,52,...,18-24,M,BLACK,1013626.0,3253434.0,40.838172,-73.878793,POINT (-73.87879308899994 49.06130772800003),January,Monday
4,82300383,2011-12-22,782.0,"WEAPONS, POSSESSION, ETC",236.0,DANGEROUS WEAPONS,PL 2650101,Misdemeanor,Bronx,47,...,25-44,M,BLACK,1027676.0,2261851.0,40.838172,-73.828816,POINT (-73.828816465 46.36334352800003),December,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892977,165403593,2017-06-01,744.0,BAIL JUMPING 3,359.0,OFFENSES AGAINST PUBLIC ADMINISTRATION,PL 2155500,Misdemeanor,Queens,102,...,25-44,M,BLACK,1032428.0,198872.0,40.712411,-73.826217,POINT (-73.82621729999995 40.71241149700006),June,Thursday
892978,165492089,2017-06-04,113.0,"MENACING,UNCLASSIFIED",344.0,ASSAULT 3 & RELATED OFFENSES,PL 1201401,Misdemeanor,Brooklyn,75,...,<18,F,BLACK,1013755.0,182378.0,40.667221,-73.893645,POINT (-73.89364532199994 40.667221263000044),June,Sunday
892979,164492016,2017-05-05,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,Misdemeanor,Manhattan,19,...,18-24,M,WHITE HISPANIC,996551.0,223272.0,40.779506,-73.955586,POINT (-73.95558550399994 40.77950599700006),May,Friday
892980,164849587,2017-05-16,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,Misdemeanor,Bronx,41,...,<18,M,BLACK,1014468.0,238156.0,40.820315,-73.890825,POINT (-73.89082460299994 40.820315396000076),May,Tuesday
892981,164656020,2017-05-10,223.0,"BURGLARY,RESIDENCE,NIGHT",107.0,BURGLARY,PL 1403002,Felony,Brooklyn,72,...,45-64,M,WHITE,984058.0,178998.0,40.657993,-74.000693,POINT (-74.00069344599996 40.65799306600008),May,Wednesday